$base-color: rgb(60, 1, 107);

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  color: $base-color;
  position: absolute;
  height: 50px;
  bottom: 0;
}
